.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    transition: all 0.8s ease;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    &--front {
      background-color: white;
      color: $color-black;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  &:hover &__side--back {
    transform: rotateY(0);
    cursor: pointer;
  }
}
