*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing: border-box; Nie dodaje marginow i paddingu do calkowitej wysokosci i szerokosci */
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 2rem;

  box-sizing: border-box;
}
